        body {
            background-color: #000000;
        }

        header {
            background-color: #4023a1;
            color: white;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #040084;
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }

        nav a {
            color: white;
            margin: 0 15px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        main {
            max-width: 1000px;
            margin: 30px auto;
            padding: 20px;
            background-color: #7a2dff;
            border-radius: 10px;
            text-align: center;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #6435fd;
            color: white;
            margin-top: 30px;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 15px;
            padding: 20px;
            max-width: 1200px;
            margin: auto;
        }

        .gallery img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 12px;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .gallery img:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
        }
