body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container-fixed {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 15px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 30px;
}

.container-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

.child {
    background-color: rgb(141, 255, 226);
    border: 1px solid black;
    padding: 10px;
}
