*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #fff;
  background:url(https://plus.unsplash.com/premium_photo-1726862857302-0062ce928ac3?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2F0ZXJmYWxsJTIwdmlld3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  overflow: hidden;
}

.top-header {
  color: white;
  text-align: center;
  padding: 25px;
  backdrop-filter: blur(3px);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.navbar a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  padding: 15px;
  color: white;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: rgba(242, 242, 242, 0.5);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(3px);
}
